 @import "tailwindcss"; 
.header {
    background-color: aquamarine;
    display: flex;
    justify-content: space-between;
    padding: 10px;
}

.header ul {
    display: flex;
    list-style-type: none;
    margin: auto;
    padding: 10px;
    justify-content: space-around;
    width: 200px;
}

.header ul li {
    padding: 10px;
    font-size: 20px;

}

.header .link {
    text-decoration: none;
}

.header .link h1 {
    margin: 0;
}
.list{
    display: flex;
    justify-content: space-around;
}